{% extends "base.html" %}
{% block content %}
<meta property="og:url"           content="https://www.your-domain.com/your-page.html" />
<meta property="og:type"          content="Blog" />
<meta property="og:title"         content="{{post.title}}" />
<meta property="og:description"   content={{post.title}} />
    <div class="jumbotron">
        <h1>{{post.title}}</h1>
        <h4>Written by: <a href="{{url_for('users.user_posts',username=post.author.username)}}">{{post.author.username}}</a></h4>
        <h4>Published: {{post.date.strftime('%B %d,%Y')}}</h4>
        <p>{{post.text}}</p>
        {% if post.author==current_user %}
        <div>
            <a href="{{url_for('blog_posts.update',blog_post_id=post.id)}}">Update</a>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#del_modal">Delete</button>
        </div>
        
        {% endif %}
        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="del_modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Delete Post?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete the post?</p>
            </div>
            <div class="modal-footer">
                <form action="{{url_for('blog_posts.delete_post',blog_post_id = post.id)}}">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>

{% endblock %}